/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/*Scroll to top button*/
.scrollToTop{
    width:50px;
    height:50px;
    text-align:center;
    background: #2196F3;
    text-decoration: none;
    position:fixed;
    bottom:40px;
    right:40px;
    display:none;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 22;
}
.scrollToTop i{
    font-size: 3.3rem !important;
}
.scrollToTop:hover{
    text-decoration:none;
}

.btn-floating{
    position: inherit;
}

/*Card styles*/
.cardbg{
    background-image: url("../piccers/cardbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cardhr{
    background: white;
    border-color: white;
    width: 100%;
    float: left;
}
.cardimg{
    border: 2px solid white
}

.cardbgcol12{
    background-image: url("../piccers/cardbgcol12.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Footer styles*/
.footer-copyright .container{
    margin-bottom: -15px;
}

.whoami{
    margin-bottom: 10px;
}
.whoami td{
    padding: 10px 5px;
}

/*parallax styles*/
.content-parallax{
    height: 200px;
}

.parabig{
    display: block;
}
.parasmall{
    display: none;
}

/*Media queries*/
@media (min-width: 320px) and (max-width: 600px){
    .header-parallax{
        height: 250px;
    }
    .header-parallax .row img{
        height: 200px;
    }
    .card-content .row .col{
        text-align: center;
    }
    .card-content .row .col img{
        height: 200px;
    }
    .parabig{
        display: none;
    }
    .parasmall{
        display: block;
    }
    .cardbg{
        background-image: none;
    }
}
@media (min-width: 600px) and (max-width: 993px){
    .cardbg {
        background-position: inherit;
    }
    .header-parallax{
        height: 350px;
    }
    .header-parallax .row img{
        height: 300px;
    }
}
@media (min-width: 993px) and (max-width: 1523px){
    .cardbg {
        height: 400px;
    }
}
@media (min-width: 1200px){

}

.n{
    box-shadow: none;
    background-color: transparent;
    /* transition: box-shadow .3s, background-color .3s; */
}